@import '~bootstrap/dist/css/bootstrap.min.css';

.box{
    margin-top: 1rem;
    margin-left: 1rem;
}

.form-group{
    //border: 2px solid red;
    margin: 10px;
    margin-left: 0;
    font-weight: 100;
    font-family: sans-serif;
    font-size: 15.75px;
    color: #004f9d;
}

.matname{
  font-weight: 100;
    font-family: sans-serif;
    font-size: 15.75px;
    color: #004f9d;
}

input::placeholder {
    font-weight: lighter; 
    font-size: 0.9rem;    
  }

  .heading{
    font-size: xx-large;
    font-family: 'Roboto';
    color: #004f9d;
    font-weight: 500;
    display: block; /* Ensure it's treated like a block element */
    text-align: center;
    margin: 2rem;
    padding-top: 1rem;
  } 


  .btn{
    margin: 10px;
    margin-left: 0px;
    border-radius: 10px;
    margin-right: 1px;
    width: 15%;
    color: white;
    background-color: #1976d2;
  } 

  .rmv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    :hover{
      cursor: pointer;
    }
  }

  

  .trash{
    border-radius: 50%;
    // height: 55px;
    width: 27px;
    //border-color: white;
  }

  .mat-form-field {
    width: 94%;
  }

  .justify-content-between{
    width: 95%;
    margin: 0 auto;
  }
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 1em;
  }
  
  .bx{
    width: 35%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 2rem;
    background-color: #1976d24d;
  }

  .buttons{
    display: flex;
  }

  .tb{
    width: 80%;
  }


  .custom-button {
    flex: 1; /* Make the buttons equally flexible */
    text-align: center;
    padding: 10px 0; /* Adjust padding for better clickability */
    border-radius: 8px; /* Optional rounded corners */
    //margin: 0 5px; /* Add spacing between buttons */
    font-size: 16px; /* Consistent font size */
    //background-color: 2px solid red;
  }
  .buttons {
    display: flex; /* Use flexbox for layout */
    gap: 10px; /* Space between buttons */
  }

  .rmv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    :hover{
      cursor: pointer;
    }
  }

  .trash{
    border-radius: 50%;
    width: 27px;
  }
  .row{
    margin-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    width: 50%;
    //border-radius: 20px;
  }
  .mat-form-field {
    width: 94%;
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .justify-content-between{
    width: 95%;
    margin: 0 auto;
  }
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 1em;
  }
  
  .tb{
    width: 80%;
  }

  thead{
    th{
        text-align: center;
        font-size: large;
        .heading-text {
            display: inline-block;   
            margin: 5px;          
            font-weight: bold;    
          }
    }
    tr{
        margin: 5px;
    }
  }

  tbody{
    tr{
        td{
            text-align: center;
            span{
                display: inline-block;
                font-weight: 500;
                margin: 4px;
            }
        }
    }
  }
  