<div class="content" role="main">
  <div class="login">
    <div class="top">Login</div>

    <div class="bottom">
      <form [formGroup]="loginForm" (ngSubmit)="loginCheck()">
        <div class="name">
          <div class="heading">Name</div>
          <div class="txt">
            <input type="text" id="name" formControlName="name" />
            <div *ngIf="loginForm.get('name')?.touched && loginForm.get('name')?.invalid">
              <small class="error" style="color: red;">Name is required.</small>
            </div>
          </div>
        </div>
        <div class="pass">
          <div class="heading">Password</div>
          <div class="txt">
            <input type="password" id="pass" formControlName="passwd" />
            <div *ngIf="loginForm.get('passwd')?.touched && loginForm.get('passwd')?.invalid">
              <small class="error"  style="color: red;">Password is required.</small>
            </div>
          </div>
        </div>
        <button class="sub" type="submit" [disabled]="loginForm.invalid">Submit</button>
      </form>
    </div>

    <footer>
      <a class="foot" href="https://github.com/angular/angular" target="_blank" rel="noopener">
        Forgot Password?
      </a>
    </footer>
  </div>
</div>
  