<div class="container">
    <div class="row justify-content-center">
      <mat-heading class="heading">All Items</mat-heading>
      <div class="col-md-8 mt-4 mb-4">
        <table class="table table-bordered mat-elevation-z8">
          <thead class="heading-bar">
            <tr>
              <th><span class="heading-text">Item Name</span></th>
              <th><span class="heading-text">Category</span> </th>
              <th><span class="heading-text">Description</span> </th>
              <th><span class="heading-text">Price</span> </th>
              <th><span class="heading-text">Actions</span> </th>
            </tr>
          </thead>
          <tbody class="admin-view-table-body">
            <tr *ngFor="let item of listData; let i = index">
              <td>
                <span>{{ item.name | titlecase}}</span>
              </td>
              <td>
                <span>{{ item.category | titlecase}}</span>
              </td>
              <td>
                <span>{{ item.desc }}</span>
              </td>
              <td>
                <span>{{ item.price }}</span>
              </td>
              <td style="background-color: antiquewhite; width: 8%;">
                <div class="rmv">
                <mat-icon class="trash" (click)="editItem(item, i)" style="
                color: #1976d2;">edit</mat-icon>
                <mat-icon class="trash" (click)="removeItem(item)" style="
                color: #d40a0a;">cancel</mat-icon>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>