<div class="card">
  <form [formGroup]="userForm">
    <mat-card class="bx" appearance="outline">
      <mat-heading class="heading">{{head}} Item</mat-heading>
      <div class="form-row">
        <div class="col-md-12 box">
          <div class="form-row">
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label class="matname">Item Name<span style="color: red;">*</span></mat-label>
                <input matInput type="text" placeholder="Enter the item name" formControlName="name">
                <mat-error *ngIf="userForm.controls.name.hasError('required')">
                  Item Name is required.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-12 box">
          <div class="form-row">
            <div class="col">
              <mat-form-field appearance="outline" class="custom-select">
                <mat-label class="matname">Category<span style="color: red;">*</span></mat-label>
                <mat-select formControlName="category" panelClass="custom-panel">
                  <mat-option *ngFor="let cat of categoryTypes" [value]="cat">{{ cat | titlecase}}</mat-option>
                </mat-select>
                <mat-error *ngIf="userForm.controls.name.hasError('required')">
                  Category is required.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-12 box">
          <div class="form-row">
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label class="matname">Description<span style="color: red;">*</span></mat-label>
                <input matInput type="text" placeholder="Enter the item description" formControlName="desc">
                <mat-error *ngIf="userForm.controls.name.hasError('required')">
                  Description is required.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-12 box">
          <div class="form-row">
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label class="matname">Price<span style="color: red;">*</span></mat-label>
                <input matInput type="number" formControlName="price" placeholder="$0.00" min="0" (keypress)="preventNegative($event)" />
                <mat-error *ngIf="userForm.controls.price.hasError('required')">
                  Price is required.
                </mat-error>
                <!-- <mat-error *ngIf="userForm.controls.price.hasError('min')">
                  Price cannot be negative.
                </mat-error> -->
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-row mt-6">
          <div class="col-12 d-flex justify-content-between buttons">
            <button 
              mat-raised-button 
              type="button"
              class="btn btn-primary custom-button w-50"
              (click)="addItem()">
              {{txt}} Item
            </button>
            <button 
              mat-raised-button 
              type="button" 
              class="btn btn-primary custom-button w-50 wl-2"
              (click)="reset()">
              Reset Item
            </button>
            <button 
              mat-raised-button 
              type="button" 
              class="btn btn-primary custom-button w-50 wl-2"
              (click)="navigateToViewItems()">
              View Items
            </button>
            
          </div>
        </div>
        <div style="
        display: flex;
        width: 98%;">
        <button 
              mat-raised-button 
              type="button" 
              [ngStyle]="isDisabled && {'cursor': 'not-allowed', 'pointer-events': 'auto'}"
              class="btn btn-primary custom-button w-50 wl-2"
              [disabled]=isDisabled
              (click)="navigateToViewCategory()">
              Add/View Category
        </button>
        </div>
      </div>
    </mat-card>
  </form>
</div>
