<div class="heading">
  {{heading}}
</div>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 mt-4 mb-4">
        <table class="table">
          <thead>
            <tr style="
            display: flex;
            justify-content: space-between;
            padding: 0.5rem 1.5rem 0;
        ">
              <th >Item Name</th>
              <th >Price</th>
            </tr>
          </thead>
          
          <tbody *ngFor="let item of listData">
            <hr>
            <tr *ngIf="item.category == cat"  style="
            display: flex;
            justify-content: space-between;
            padding: 1rem 1.5rem;
            align-items: center;
        ">
                <td>
                  <div class="itm">
                    <span class="name">{{item.name}}</span>
                    <span class="desc">{{item.desc}}</span>
                  </div>
                  </td>
                <td><span>{{item.price}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> 
 


<!-- *******updated code************ -->

  <!-- <table mat-table [dataSource]="listData" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef > Item Name </th>
      <div *matCellDef="let element">
        <td mat-cell *ngIf="element.category == cat"> {{element.name}} </td></div>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <div *matCellDef="let element">
        <td mat-cell *ngIf="element.category == cat"> {{element.price}} </td></div>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
  
  