// @import '~bootstrap/dist/css/bootstrap.min.css';

table {
  width: 80%;
  margin: auto;
  background-color: #1976d270;
  border-radius: 25px;
  margin-top: 3rem;
  box-shadow: 2px 2px 4px #000000;
}

.box{
    width: 50%;
    border: 1px solid rgb(145, 138, 138);
    border-radius: 25px;
    padding: 0px 20px 20px 20px;
    margin-left: 400px;
}

.form-group{
    //border: 2px solid red;
    margin: 10px;
    font-weight: 500;
    font-size: 1.1rem;
}

input::placeholder {
    font-weight: lighter; 
    font-size: 0.9rem;    
  }

  .btn{
    margin: 10px;
    border-radius: 10px;
    margin-right: 1px;
    width: 400px;
  }

  .itm{
    display: flex;
    flex-direction: column;
  }

  .name{
    font-weight: bold;
    font-size: x-large;
    font-family: cursive;
  }

  .heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bolder;

    display: flex;
    justify-content: center;
    align-items: center;
  }