<div class="container">
  <div class="head" id="head">
    What would you like to try today!!  &nbsp; &nbsp;  :)
  </div>
  <!-- <a class="food box" id="food" (click)="Change($event)">
    <div class="card">Food</div> 
  </a> -->
      <div class="card"><button type="button" class="box" mat-raised-button (click)="Change($event)" >
        Food
      </button></div>
  
    <div class="card"><button type="button" class="box" mat-raised-button (click)="Change($event)" >Beverages</button></div>
  
    <div class="card">
      <button type="button" class="box" mat-raised-button (click)="Change($event)" >
    Dessert </button>
  </div>

  <div class="card"><a href="https://mdbootstrap.com/" class="lnks box">
    Instagram
  </a>  </div>
  <div class="card"><a href="https://mdbootstrap.com/" class="lnks box">
    Facebook
  </a></div>
  <div class="card"><a href="https://mdbootstrap.com/" class="lnks box">
    Linkedin
  </a></div>
</div>
