<div class="container">
  <div class="heading head">
    What would you like to try today!!  &nbsp; :)
  </div>
  <div class="carousel-wrapper">
    <div class="carousel-main">
      <div class="slides-container">
        <div class="slide" *ngFor="let image of images; let i = index" 
             [class.active]="currentIndex === i"
             [@slideAnimation]="currentIndex === i ? 'active' : 'inactive'">
          <img [src]="image.url" [alt]="image.title">
          <div class="slide-content">
            <h3>{{image.title}}</h3>
            <p>{{image.description}}</p>
          </div>
        </div>
      </div> 
    </div>
  </div>

  <div class="buttons-container">
    <div class="card" *ngFor="let category of categoryTypes; let i = index">
      <button 
        type="button" 
        class="box" 
        [id]="category"
        mat-raised-button 
        [disabled]="!categoryCountMap.has(category.toLowerCase())"
        (click)="Change($event)">
        {{category | titlecase}}
      </button>
    </div>
  <div class="card">
    <button 
      type="button" 
      class="box"  
      mat-raised-button 
      color="warn" 
      (click)="gotoLink()">
      Instagram
    </button>
  </div>
  <div class="card">
    <button 
      type="button" 
      class="box"  
      mat-raised-button 
      color="warn" 
      (click)="gotoLink()">
      Facebook
    </button>
  </div>
  <div class="card">
    <button 
      type="button" 
      class="box"  
      id="linkedln"
      mat-raised-button 
      color="warn" 
      (click)="gotoLink()">
      Linkedln
    </button>
  </div>
</div>
</div>
