@import '~bootstrap/dist/css/bootstrap.min.css';

.container{
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.head{
  width: 100%;
  margin: 1rem;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 200%;
  font-weight: bold;
  color: rgb(25 118 210);
  margin-bottom: 60px;
}
.box{
    width: 47%;
    border: 1px solid rgb(25 118 210);
    border-radius: 25px;
    margin: 1rem;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-style: oblique;
    font-weight: bold;
    :hover{
      background-color: rgb(25 118 210 /70%);
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
}

.card{
  padding: 20px 20px 20px 20px;
  border-radius: 25px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}